body {
  background-color: black !important;
  color: white;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}
.content {
  height: 2000px;
}

.line-l {
  border-right: 0.5px solid #272828;
  font-size: 1.5rem;
}

.line-m {
  border-right: 0.5px solid #272828;
}

.line-r {
  border-left: 0.5px solid #272828;
}

.custom-rounded {
  border-radius: 10px;
}

.text-bold {
  font-weight: 900;
}

.btn-blue {
  background-color: #1d9bf0;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}

.btn-blue:hover {
  background-color: #48acef;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}

.v-color {
  background-color: #1d9bf0;
}

.card-border {
  border: 1px solid #404242;
  border-radius: 15px;
  background-color: black;
}

.search-bg {
    background-color: #222428;
}

.like-btn {
    background-color: #f91880;
    color: white;
}